:root {
    --primary-color: #044389;
    --secondary-color: #FCFF4B;
    --text-color: #FFAD05;
    --background-color: #7CAFC4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--background-color);
}

header img {
    max-width: 120%;
    height: auto;
    margin-right: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    color: var(--text-color);
}
main {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-color);
    text-align: center;
    font-family: 'Anton', sans-serif;
}

article {
    position: absolute;
    bottom: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    background: var(--background-color); 
    padding: 20px; 
    border-radius: 10px; 
    color: var(--secondary-color); 
    max-width: 90%; 
    text-align: left;
}

article p {
    color: var(--text-color)
}

footer{

    padding: 20px 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section img{
    max-width: 190px;
    height: auto;
    margin-right: 8px;
    border-radius: 4px;
}

section h2 {
    flex: 1;
}

section p{
    flex: 2;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

figcaption{
    color: var(--primary-color);
    margin-top: 5px;
}

footer p {
    margin: 0;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
}

.sociallinks a {
    margin-left: 15px;
}